body, html{
    background-color:#f5f7f7;
}
.top{
    padding-top:5px;
    border-bottom:1px solid darkgrey;
    padding-bottom: 5px;
    margin-bottom: 0;
}
.top i{
    padding-right: .5em;
    font-size: 1.3em;
}

@media (min-width: 991px) and (max-width: 1201px) {
    #logo{
        display: none;
    }
}
.menu{
    border-bottom:1px solid #d2d2cf;
}

/*-----------*/
/*слайдер*/
#slide{
}
#slide1, #slide2, #slide3, #slide4{
    height: 38vw;
    background-repeat: no-repeat;
    background-size:100% auto;
}
#slide1{
    background-image: url(../img/drive1.jpg);
}
#slide2{
    background-image: url(../img/engenering1.jpg);
}
#slide3{
    background-image: url(../img/solar1.jpg);
}
#slide4{
    background-image: url(../img/station1.jpg);
}

/*-----------*/


.bikini-bottom{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid grey;
    max-height: 30px;
}
.bikini-bottom i{
    padding-right: .5em;
}
.bikini-text{
    font-size:.8em;
    padding-top: .3em;

}
.bests .card{
    min-width: 9em;
    max-width: 16em;
    margin-bottom: 20px;
    border-radius: 5px;
}
.bests img{
    border-radius: 5px;
}
.bests h5{
    font-size: 1.2em;
}
.btn-card{
    width:100%;
    background-color: #9fcdff;
}
.main{
    background-color: #e6e7e9;
}
#cart_info{
    margin-left: 3px;
    font-size: 0.7em;
}
.bests{
    padding-top: 30px;
    padding-bottom: 30px;
    /*border-bottom: 2px solid #4d4d4d;;*/
}

.annotation{
    padding-top: 30px;
    padding-bottom: 30px;

    border-bottom: 2px solid #4d4d4d;
}

/*------------*/

.partners{
    padding-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid #4d4d4d;
    background-color: #e6e7e9;
}
.logos{
    padding-top: 30px;
    padding-bottom: 30px;
}
/*.logos .card img{*/
    /*max-width:130px;*/
    /*max-height:100px;*/

/*}*/
.logos .card{
    background-color: transparent;
    border:none;
    max-width:130px;
    max-height:100px;
}
/*---------------------------------*/
.main-content{
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #e6e7e9;
}
.card-category{
    margin-top: 20px;
    min-width: 150px;
    max-width: 200px;
}
.card-category img{
    max-height:200px;
}
.card-category p{
    font-size: .8em;
}
.cardss{
    border: 1px solid black;
}


